{% extends 'core/base.html' %}
{% block  title %}Acerca{% endblock %}
{% load static %}
{% block slides %}
  {% for nosotros_banner in nosotros_banners %}
    <div class="slider-item" style="background-image: url({{nosotros_banner.imagen.url}});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text align-items-center">
          <div class="col-md-7 col-sm-12 ftco-animate">
            <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p> -->
            <h1 class="mb-3">{{nosotros_banner.comentario}}</h1>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
{% block  content %}
<section class="ftco-section-2">
        <div class="container-fluid d-flex">
          <div class="section-2-blocks-wrapper row no-gutters">
            <!-- <div class="img col-sm-12 col-lg-6" style="background-image: url('images/tour-1.jpg');">
              <a href="https://youtu.be/mdy4PF9zPO8" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
            </div> -->
            <div class="text col-lg-12 ftco-animate">
              <div class="text-inner align-self-start">
                
                <h3>Hola! Bienvenidos a SkyTrips&Travel</h3>
                <p>Estas a punto de vivir las mejores vacaciones.</p>
  
                <p>Sky Trips and Travel fue fundada en Cancún en el año 2008, y desde entonces todos nuestros clientes han gozado de vacaciones en destinos nacionales e internacionales de excelente precio y calidad.</p>
                <p>Nuestro equipo tiene la consigna de ofrecerte a ti y tu familia las mejores ofertas vacacionales disponibles al momento de tu compra.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="ftco-section bg-light" style="padding-top: 0;">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <h2>Nuestros servicios</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-sailboat"></span></div></div>
                <div class="media-body p-2">
                  <h3 class="heading">Transportación</h3>
                  <p>Reserva tu traslado ya sea privado o compartido de gran calidad con seguro de viajero.</p>
                </div>
              </div>      
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-around"></span></div></div>
                <div class="media-body p-2">
                  <h3 class="heading">Hotelería</h3>
                  <p>Déjate llevar a los mejores destinos, contamos con hospedajes y hoteles en todo incluido.</p>
                </div>
              </div>      
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-compass"></span></div></div>
                <div class="media-body p-2">
                  <h3 class="heading">Excursiones</h3>
                  <p>Consulta el programa y escoge entre aventura, visitas a las ciudades, mar y naturaleza.</p>
                </div>
              </div>    
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-map-of-roads"></span></div></div>
                <div class="media-body p-2">
                  <h3 class="heading">Tours</h3>
                  <p>Reserva tours en México, paseos y actividades en todos los destinos al mejor precio.</p>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </section>
      <section class="ftco-section testimony-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <h2>Nuestros clientes satisfechos dicen</h2>
            </div>
          </div>
          <div class="row ftco-animate">
            <div class="carousel owl-carousel ftco-owl">
              {% for comentario in comentarios %}
                <div class="item text-center">
                  <div class="testimony-wrap p-4 pb-5">
                    <!-- <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)" style="border: 1px solid red;"></div> -->
                    <div class="text">
                      <!-- <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p> -->
                      <p class="mb-5">{{comentario.descripcion}}</p>
                      <p class="name">{{comentario.nombre}}</p>
                      <span class="position">{{comentario.lugar}}</span>
                    </div>
                  </div>
                </div>
              {% endfor %}
              <!-- <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)" style="border: 1px solid red;"></div>
                  <div class="text">
                    <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
                    <p class="mb-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                    <p class="name">Claudia Sky</p>
                    <span class="position">Invitada de Cancún</span>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
{% endblock %}